<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./style.css">
        <title>Imageboard</title>
    </head>
    <body>
        <main id="main">
            <!-- <show-image-component v-if="checkForValue" :say-greeting="hello" @close="closeModalInApp"></show-image-component> -->
            
            <show-image-component v-if="imgId" :img-id-prop="imgId" @close="closeModalInApp"></show-image-component>


            <br>
            <form action="/image"
                      method="post"
                      enctype="multipart/form-data"
                      @:submit="onFormSubmit"
                      @submit.prevent="onFormSubmit">
                      <div class="form-row shadow">
                        <!-- <br>
                        <label for="photo">Please select your file</label> -->
                        <br>
                        <!-- maybe integrate v-model -->
                        <input type="text" name="title" id="title" placeholder="Title">
                        <!-- <p>Title</p> -->
                        <br>
                        <!-- maybe integrate v-model -->
                        <input type="text" name="description" id="description" placeholder="Description">
                        <!-- <p>Description</p> -->
                        <br>
                        <!-- maybe integrate v-model -->
                        <input type="text" name="username" id="username" placeholder="Username">
                        <!-- <p>Username</p> -->
                        <br><!-- maybe integrate v-model, change event needed -->
                        <input type="file" name="photo" id="photo">
                        <br>
                          <input type="submit" name="Upload!" >
                          <br>
                      </div>
            </form>
            <br>
            <div class="uploaded">
                <div class="status">{{message}}</div>
                <div class="images">
                    <div class="imagebox shadow">
                    <img 
                    v-for="image in images"
                    v-bind:src="image"
                    alt="an image"
                    class="image">
                    </div>
                </div>
            </div>
                        <br>
            <h1>Latest Images</h1>
            <section class="images" >
                <div class="image"
                     v-for="image in readyData">
                     <div class="imagebox shadow">
                        
                         <img v-bind:src="image.url" v-bind:alt="image.description" @click="showID(image.id)">    
                         <p>{{image.title}}</p>

                     </div>

                </div>
            </section>
                <br>
                <button id="more" v-if="moreButton" @click="askForMoreImages(lowestId)">MORE</button>
        </main>
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </body>
</html>
