* {
    box-sizing: border-box;
    margin: 0;
    background-color: mintcream;
}

#closeButton {
    background-color: black;
    color: white;
    border: solid white 2px;
    width: fit-content;
    align-self: flex-end;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.images {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.imgComponent {
    display: flex;
    justify-content: center;
    border: dotted red 2px;
}

.imagebox {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 3px;
}

.shadow {
    box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.726);
}

.uploaded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

img {
    width: 28vw;
    height: 17vw;
    padding: 1px;
    object-fit: cover;
}

#enlargedImage {
    width: 35vw;
    height: 21vw;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-row {
    background-color: rgba(27, 44, 44, 0.726);
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

input {
    width: 20vw;
}

#photo {
    width: 30vw;
}

p {
    font-size: 1.3vw;
    background-color: transparent;
}

#transparentCover {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(27, 44, 44, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popUp {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div#popUp h2,
div#popUp h3,
div#popUp h4 {
    background-color: black;
    color: white;
}
